
/*
body {
  margin: 0;
}

a {
  border:none;
  border:hidden;
}
*/

.flex-container {
  padding: 0;
/*  margin: .5%;*/
  flex-wrap: wrap;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

.item > img {
     display: block;
     float: left;
     height:0;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     vertical-align:top;
}


@media only screen and (min-width: 300px) {

.item {
    background: #fff;
    margin: .25%;
    width: 49.5%;
}

.item > a > img {
     width: 100%;
     padding-bottom: 135%;
}

.item-wide {
    background: #fff;
    margin: .25%;
    width: 99.5%;
}

.item-wide > a > img {
     width: 100%;
     padding-bottom: 66.75%;
}

}

@media only screen and (min-width: 900px) {

.item {
    background: #fff;
    margin: .25%;
    width: 24.5%;
}

.item > a > img {
     width: 100%;
     padding-bottom: 135%;
}

.item-wide {
    background: #fff;
    margin: .25%;
    width: 49.5%;
}

.item-wide > a > img {
     width: 100%;
     padding-bottom: 66.75%;
}


}



.img-1 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-2 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-3 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

/*.img-4 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}*/

.img-5 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-6 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-7 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-8 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-9 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-10 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-11 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-12 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-13 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-14 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

/*.img-15 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}*/

.img-16 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

/*.img-17 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-18 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-19 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}

.img-20 {
    background-image: url("https://images.unsplash.com/21/mac-glasses.JPG?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
}*/


