
body {
  margin: 0;
}

a {
  border:none;
  border:hidden;
}

.flex-container {
  padding: 0;
/*  margin: .5%;*/
  flex-wrap: wrap;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.row            { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}

img {
     display: block;
     float: left;
     height:0;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     vertical-align:top;
}


@media only screen and (min-width: 300px) {

.item {
    background: #fff;
    margin: .25%;
    width: 49.5%;
}

.item > a > img {
     width: 100%;
     padding-bottom: 135%;
}

.item-wide {
    background: #fff;
    margin: .25%;
    width: 99.5%;
}

.item-wide > a > img {
     width: 100%;
     padding-bottom: 66.75%;
}

}

@media only screen and (min-width: 900px) {

.item {
    background: #fff;
    margin: .25%;
    width: 24.5%;
}

.item > a > img {
     width: 100%;
     padding-bottom: 135%;
}

.item-wide {
    background: #fff;
    margin: .25%;
    width: 49.5%;
}

.item-wide > a > img {
     width: 100%;
     padding-bottom: 66.75%;
}


}



.img-1 {
    background-image: url("../img/01_Mantel_Network_Interior.jpg");
}

.img-2 {
    background-image: url("../img/Edition3Description.jpg");
}

.img-3 {
    background-image: url("../img/03_Network_Diptych_Interior.jpg");
}

/*.img-4 {
    background-image: url("../img/03_Network_Diptych_Interior.jpg");
}*/

.img-5 {
    background-image: url("../img/04_Illusion4.3.jpg");
}

.img-6 {
    background-image: url("../img/05_Black_Frame_Illusion10.0.jpg");
}

.img-7 {
    background-image: url("../img/Edition4Description.jpg");
}

.img-8 {
    background-image: url("../img/06_Illusion1.0.jpg");
}

.img-9 {
    background-image: url("../img/08_Savannah.jpg");
}

.img-10 {
    background-image: url("../img/09_Baltimore.jpg");
}

.img-11 {
    background-image: url("../img/10_Duluth.jpg");
}

.img-12 {
    background-image: url("../img/11_Credenza_Case_Studies_Interior.jpg");
}

.img-13 {
    background-image: url("../img/12_Newport.jpg");
}

.img-14 {
    background-image: url("../img/13_Mix_Match_Ed1_2.jpg");
}

/*.img-15 {
    background-image: url("../img/13_Mix_Match_Ed1_2.jpg");
}*/

.img-16 {
    background-image: url("../img/14_34C.jpg");
}

/*.img-17 {
    background-image: url("../img/Edition4Description.jpg");
}

.img-18 {
    background-image: url("../img/Edition4Description.jpg");
}

.img-19 {
    background-image: url("../img/Edition4Description.jpg");
}

.img-20 {
    background-image: url("../img/Edition4Description.jpg");
}*/


